flows (1).json
[{"id":"bd4f6dec.70521","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"2fc75562.a4b9ea","type":"debug","z":"bd4f6dec.70521","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"305b42b9.1ab88e","type":"ibmiot in","z":"bd4f6dec.70521","authentication":"apiKey","apiKey":"8d2ec7e3.6d2df8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"VITDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":200,"wires":[["2fc75562.a4b9ea","7647d38b.37f73c","86689bcc.3cb228","35780e4e.ac2fb2","f66968cf.4aa928","95e04f84.a1eea","9aa7eb23.6efa58","ec65db60.ce8ca8"]]},{"id":"f66968cf.4aa928","type":"function","z":"bd4f6dec.70521","name":"Oxidation_reduction_potential","func":"msg.payload=msg.payload.Oxidation_Reduction_Potential\nglobal.set('o',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":240,"wires":[["435c1502.f99c9c","2fc75562.a4b9ea"]]},{"id":"95e04f84.a1eea","type":"function","z":"bd4f6dec.70521","name":"Conductivity","func":"msg.payload=msg.payload.Conductivity\nglobal.set('c',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":280,"wires":[["5d0b90c7.56107","2fc75562.a4b9ea"]]},{"id":"86689bcc.3cb228","type":"function","z":"bd4f6dec.70521","name":"Turbidity","func":"msg.payload=msg.payload.Turbidity\nglobal.set('u',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["bf4c1c9d.9d03f","2fc75562.a4b9ea"]]},{"id":"35780e4e.ac2fb2","type":"function","z":"bd4f6dec.70521","name":"PH Value","func":"msg.payload=msg.payload.PH_Value\nglobal.set('p',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":200,"wires":[["7d0e14fb.82f36c","2fc75562.a4b9ea"]]},{"id":"7647d38b.37f73c","type":"function","z":"bd4f6dec.70521","name":"Temperature","func":"msg.payload=msg.payload.Temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":100,"wires":[["ca265b12.692848","2fc75562.a4b9ea"]]},{"id":"ca265b12.692848","type":"ui_chart","z":"bd4f6dec.70521","name":"","group":"74500876.8dbdb8","order":2,"width":19,"height":6,"label":"temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":120,"wires":[[]]},{"id":"bf4c1c9d.9d03f","type":"ui_gauge","z":"bd4f6dec.70521","name":"","group":"74500876.8dbdb8","order":5,"width":9,"height":5,"gtype":"gage","title":"tur","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":160,"wires":[]},{"id":"7d0e14fb.82f36c","type":"ui_chart","z":"bd4f6dec.70521","name":"","group":"74500876.8dbdb8","order":3,"width":9,"height":5,"label":"ph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":200,"wires":[[]]},{"id":"435c1502.f99c9c","type":"ui_chart","z":"bd4f6dec.70521","name":"","group":"74500876.8dbdb8","order":6,"width":10,"height":5,"label":"oxi","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":240,"wires":[[]]},{"id":"5d0b90c7.56107","type":"ui_gauge","z":"bd4f6dec.70521","name":"","group":"74500876.8dbdb8","order":4,"width":10,"height":5,"gtype":"gage","title":"con","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":280,"wires":[]},{"id":"b73bc919.44b548","type":"http in","z":"bd4f6dec.70521","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":110,"y":360,"wires":[["4cd7c18c.502a3"]]},{"id":"9a36d858.5d9908","type":"http response","z":"bd4f6dec.70521","name":"","statusCode":"","headers":{},"x":570,"y":360,"wires":[]},{"id":"4cd7c18c.502a3","type":"function","z":"bd4f6dec.70521","name":"","func":"msg.payload={\"temp\":global.get('t'),\"ph\":global.get('p'),\"con\":global.get('c'),\"oxi\":global.get('o'),\"tur\":global.get('u')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":360,"wires":[["9a36d858.5d9908"]]},{"id":"cff0bbff.3c7c68","type":"rbe","z":"bd4f6dec.70521","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":90,"y":420,"wires":[["d5a6757b.2294f8"]]},{"id":"e3fda34d.3577e","type":"http request","z":"bd4f6dec.70521","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=hejHBwnkyUl1EsKPfDu40JTbt9AXc5mGqL7gR8VOxM6SC3YQdvGHsfjCgKW5xIwmYhEFda3Qbetnu8ip&route=q&message=prefer%20not%20to%20drink%20water&language=english&flash=0&numbers=6303203450","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":440,"wires":[["1262c615.ba16ca"]]},{"id":"1262c615.ba16ca","type":"debug","z":"bd4f6dec.70521","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"9aa7eb23.6efa58","type":"function","z":"bd4f6dec.70521","name":"","func":"msg.payload=msg.payload.sms\nglobal.set('s',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":320,"wires":[["cff0bbff.3c7c68"]]},{"id":"d5a6757b.2294f8","type":"switch","z":"bd4f6dec.70521","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":440,"wires":[["e3fda34d.3577e","1262c615.ba16ca"]]},{"id":"ec65db60.ce8ca8","type":"cloudant out","z":"bd4f6dec.70521","name":"","cloudant":"d1d2ac9e.11f75","database":"riverwatermanagementmonitering","service":"node-red-lmlov-2021--cloudant-1625752182260-93056","payonly":false,"operation":"insert","x":660,"y":320,"wires":[]},{"id":"8d2ec7e3.6d2df8","type":"ibmiot","name":"RIVER WATER MANAGEMENT SYSTEM","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"74500876.8dbdb8","type":"ui_group","name":"DATA","tab":"f3ee55e3.ed8fd8","order":1,"disp":true,"width":19,"collapse":false},{"id":"d1d2ac9e.11f75","type":"cloudant","host":"85205243-f390-4e76-a3f0-25d908e5eddd-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"f3ee55e3.ed8fd8","type":"ui_tab","name":"RIVER WATER MANGEMENT","icon":"dashboard","disabled":false,"hidden":false}]